* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 15px;
  letter-spacing: 3px;
  color: #8d5103;
}

li {
  list-style: none;
  overflow-wrap: break-word;
  white-space: initial;
  overflow: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

#task-container {
  margin: 0 auto;
  max-width: 550px;
  margin-top: 100px;
  background-color: #f5f1e9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 6px 5px 4px rgba(0, 0, 0, 0.56);
}

.task-item {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 7px;
  padding: 15px;
  font-size: 19px;
  overflow-wrap: break-word;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.56);
}

.task-item input {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid #fff;
  font-size: 19px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

.task-options {
  display: flex;
}
.task-options button {
  font-size: 16px;
  border: 1px solid #a52a2a;
  background-color: #f7b783;
  margin-left: 10px;
  width: 45px;
  height: 30px;
  border-radius: 15px;
}

.task-options button:hover {
  background-color: #f5f1e9;
  border: 1px solid #ec9a57;
}

.task-options button:active {
  background-color: #ec9a57;
  border: 1px solid #a52a2a;
}

.task-options button:nth-child(2) {
  font-weight: 600;
  color: #be0202;
  background-color: #f7c2c2;
}
.task-options button:nth-child(2):hover {
  font-weight: 600;
  background-color: #be0202;
  color: #f7c2c2;
}
.task-options button:nth-child(2):active {
  font-weight: 600;
  color: #fff;
  background-color: #a81212;
}

.task-item-container {
  width: 80%;
  overflow-wrap: break-word;
}

.task-item-container span,
.task-filter li {
  cursor: pointer;
}

.task-item-container input {
  width: 100%;
}

.task-list {
  word-break: break-all;
}

.task-filter ul {
  display: flex;
  justify-content: space-around;
}

.task-filter li {
  border: 1px solid #a52a2a;
  padding: 5px 10px;
  border-radius: 10px;
}

.task-filter li:hover,
.task-filter-active {
  background-color: #f36e39;
  color: #fff;
}

.task-filter li:active {
  background-color: #b85b10;
}

#task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#task-input input {
  width: 80%;
  padding: 7px;
  font-size: 19px;
  max-width: 400px;
  padding: 14px;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 5px;
}

#task-input button {
  font-size: 2rem;
  font-weight: 800;
  padding: 0 15px;
  border-radius: 15px;
  margin-right: 25px;
  background-color: #ec9a57;
  color: #a52a2a;
  border: 1px solid #a52a2a;
}

#task-input button:hover {
  color: #ec9a57;
  background-color: #f5f1e9;
  border: 1px solid #ec9a57;
}

#task-input button:active {
  background-color: #ec9a57;
  color: #a52a2a;
  border: 1px solid #a52a2a;
}

.completed {
  text-decoration-line: line-through;
  font-style: italic;
  color: brown;
}
